@import url('https://fonts.googleapis.com/css2?family=Caveat:wght@400;700&family=Russo+One&display=swap');

:root {
  --main-blue: #4782b8;
  --main-blue-opacity: #4782b8dd;
  --very-light-gray: #ededed;
  --light-gray: #afafaf;
  --gray: #c4c4c4;
  --inner-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.25);
  --font-russo: 'Russo One', sans-serif;
  --font-caveat: 'Caveat', cursive;
}

* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
}

.container {
  width: 100vw;
  height: 100vh;
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.container__loading {
  position: absolute;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100vw;
  height: 100vh;
  background-color: rgba(255, 255, 255, 0.3);
  z-index: -1;
  opacity: 0;
}

.loading__dots {
  display: flex;
  align-items: center;
}

.dot {
  width: 10px;
  height: 10px;
  margin: 8px;
  border-radius: 50%;
  background-color: #cecece;
  transition: all 1s ease-in-out;
}

.dot:nth-child(1) {
  animation: loading 0.8s ease-in-out infinite;
}
.dot:nth-child(2) {
  animation: loading 0.8s ease-in-out infinite 0.3s;
}
.dot:nth-child(3) {
  animation: loading 0.8s ease-in-out infinite 0.5s;
}

.search {
  display: flex;
  align-items: center;
  justify-content: center;
  margin-top: 15vh;
  width: 90vw;
  position: relative;
}

.search__invalid {
  position: absolute;
  top: -25px;
  right: calc(45vw - 75px);
  width: 150px;
  height: 20px;
  padding-top: 2px;
  background-color: var(--main-blue);
  color: #fff;
  font-size: 0.8rem;
  font-family: var(--font-russo);
  text-align: center;
  z-index: 1;
  opacity: 0;
  transition: all 0.3s ease-in-out;
}

.invalid__tooltip {
  position: absolute;
  width: 20px;
  height: 20px;
  background-color: var(--main-blue);
  transform: rotate(45deg);
  top: 5px;
  left: 70px;
  z-index: -1;
}

.header__title {
  font-family: var(--font-russo);
  color: var(--main-blue);
  word-spacing: -10px;
  font-size: 2.5rem;
  line-height: 25px;
  display: flex;
  flex-direction: column;
}

.header__sub {
  font-family: var(--font-caveat);
  color: #000;
  font-weight: 400;
}

.search__form {
  display: flex;
  align-items: center;
}

.form__input {
  width: 80%;
  max-width: 300px;
  height: 70px;
  margin: 0 10px;
  background-color: var(--very-light-gray);
  border: none;
  outline: none;
  padding: 15px;
  font-family: var(--font-russo);
  font-size: 1.5rem;
  text-align: center;
  box-shadow: var(--inner-shadow);
}

.form__btn {
  width: 100px;
  height: 70px;
  color: #fff;
  font-family: var(--font-russo);
  background-color: var(--main-blue);
  border: none;
  outline: none;
}

/* #### CONTROLS #### */
.controls {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 50px 0;
  opacity: 0;
  transition: opacity 1s ease-in;
}

.controls__btn {
  width: 50px;
  height: 50px;
  margin: 15px;
  border: none;
  background-color: #fff;
  outline: none;
  position: relative;
}

.player {
  display: none;
}

/* #### NOW #### */
.now {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 100%;
  margin: 0 10px;
}

.now__cover {
  max-width: 150px;
  margin-right: 20px;
}

.now__info {
  width: 150px;
}

.info__title {
  font-family: var(--font-russo);
  font-size: 0.8rem;
}

.info__author {
  font-family: var(--font-caveat);
  margin: 5px 0;
}

.info__time {
  font-family: var(--font-russo);
  font-size: 0.8rem;
  letter-spacing: 2px;
}

/* #### BEHAVIORS #### */
.search__invalid--on {
  opacity: 1;
}

.form__btn:hover {
  background-color: var(--main-blue-opacity);
}

.form__btn:active {
  animation: clicked 0.5s ease-in-out;
}

.controls--on {
  opacity: 1;
  cursor: pointer;
}

.controls__btn:hover {
  fill: var(--main-blue);
}

.controls__btn:active {
  animation: clicked 0.5s cubic-bezier(0.3, 0.5, 1, 2);
}

.container__loading--on {
  z-index: 2;
  opacity: 1;
}

/* #### BUTTON CLICK ANIMATION #### */
@keyframes clicked {
  0% {
    transform: rotate(-10deg);
  }
  50% {
    transform: rotate(10deg);
  }
  100% {
    transform: rotate(-10deg);
  }
}

/* #### LOADING DOT ANIMATION #### */
@keyframes loading {
  0% {
    transform: scale(0.3);
  }
  50% {
    transform: scale(1.5);
  }
  100% {
    transform: scale(0.3);
  }
}
